:root {
  --green-color: #00796b;
  --green-soft-color: #009688;
  --gray-color: #c4c4c4;
  --font-white: white;
  --light-color: #e5e5e5;
  --light-gray: #9b9b9b;
}

#body {
  background-color: var(--light-white);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
}

ul li {
  list-style: none;
}

#header {
  font-size: 18px;
  color: var(--font-white);
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  background-color: var(--green-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

a {
  color: var(--font-white);
  padding: 10px 25px;
  border-radius: 10px;
  margin-right: 5px;
  transition: 200ms;
}

a:hover {
  background-color: var(--green-soft-color);
  cursor: pointer;
}

a:active {
  background-color: none;
}

.nav {
  display: flex;
}

.nav li {
  font-family: var(--font-roboto);
  letter-spacing: 1.5px;
}

.logo {
  margin-left: 20px;
  margin-top: 5px;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  background-color: var(--gray-color);
  color: var(--font-white);
  font-size: 20px;
  margin-top: 100px;
}

.column {
  display: flex;
  flex-direction: column;
  box-shadow: 0px 10px 20px 2px rgb(228, 228, 228);
  box-sizing: border-box;
  padding: 20px;
  margin-top: 10vh;
  width: 50vw;
}

textarea {
  resize: none;
  width: 100%;
  display: block;
  outline: none;
}

input {
  margin: 20px 0;
  padding: 5px;
}

input:focus {
  outline: #00796b;
}

textarea:focus {
  outline: none;
  border: 1px solid #00796b;
}

.span {
  color: gray;
  font-weight: 500;
  font-size: 18px;
}

.fieldset-container {
  margin: 20px 0;
}

fieldset {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 0 10px;
}

@keyframes flutuar {
  0% {
    transform: translateY(0px);
  }

  25% {
    transform: translateY(-10px);
  }
  50% {
    transform: rotate(1deg);
  }

  66% {
    transform: rotate(-1deg);
  }

  80% {
    transform: rotate(0deg);
  }

  100% {
    transform: translateY(0);
  }
}

.img-destaque {
  animation: flutuar 4s infinite;
}
