:root {
  --green-color: #00796b;
  --green-soft-color: #009688;
  --gray-color: #c4c4c4;
  --font-white: white;
  --light-color: #e5e5e5;
  --light-gray: #9b9b9b;
}

#body {
  background-color: var(--light-white);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
}

#header {
  font-size: 18px;
  color: var(--font-white);
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  background-color: var(--green-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

a {
  color: var(--font-white);
  padding: 10px 25px;
  border-radius: 10px;
  margin-right: 5px;
  transition: 200ms;
}

a:hover {
  background-color: var(--green-soft-color);
  cursor: pointer;
}

a:active {
  background-color: none;
}

.nav {
  display: flex;
}

.nav li {
  font-family: var(--font-roboto);
  letter-spacing: 1.5px;
}

.logo {
  margin-left: 20px;
  margin-top: 5px;
}

#footer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  background-color: var(--gray-color);
  color: var(--font-white);
  font-size: 20px;
}

#main {
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 40px;
}

.box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  height: 300px;
}

.span {
  font-size: 40px;
  color: var(--green-soft-color);
  font-weight: 700;
  height: 237px;
  width: 500px;
  line-height: 55px;
}

.p {
  color: var(--light-gray);
  height: 160px;
  width: 400px;
  margin-bottom: 40px;
}

@keyframes flutuar {
  0% {
    transform: translateY(0px);
  }

  25% {
    transform: translateY(-10px);
  }
  50% {
    transform: rotate(1deg);
  }

  66% {
    transform: rotate(-1deg);
  }

  80% {
    transform: rotate(0deg);
  }

  100% {
    transform: translateY(0);
  }
}

.img-destaque {
  animation: flutuar 4s infinite;
}

@media (max-width: 900px) {
  .container {
    flex-wrap: wrap;
  }

  img {
    width: 90vw;
  }

  .box {
    justify-content: center;
    text-align: center;
  }

  .box span {
    width: 90%;
  }

  .box p {
    width: 100%;
  }
}

#header .bars {
  display: none;
}

#nav.show-menu-items {
  top: 80px;
  width: 50vw;
}

@media (max-width: 515px) {
  #header .bars {
    display: initial;
  }

  #nav {
    width: 100%;
    position: absolute;
    right: 0;
    top: -2000px;
    z-index: 0;
    background: var(--green-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    transition: all 0.2s ease-in-out;
    border-radius: 0px 0 0 8px;
  }

  #header {
    justify-content: space-around;
    flex-wrap: wrap;
    height: 20vh;
    box-shadow: none;
    z-index: 30;
  }

  .logo {
    width: 25vh;
  }

  .nav {
    font-size: 16px;
    align-items: flex-start;
    flex-direction: column;
    justify-content: space-around;
    padding: 10px 0;
  }

  .container {
    margin-top: 120px;
  }
}
